In [12]:
import pandas as pd
df_customer = pd.read_csv('customer_master.csv')
df_item = pd.read_csv('item_master.csv')
df_transaction_1 = pd.read_csv('transaction_1.csv')
df_transaction_2 = pd.read_csv('transaction_2.csv')
df_transaction_detail_1 = pd.read_csv('transaction_detail_1.csv')
df_transaction_detail_2 = pd.read_csv('transaction_detail_2.csv')

df_transaction = pd.concat([df_transaction_1,df_transaction_2],axis=0)
df_transaction_detail = pd.concat([df_transaction_detail_1,df_transaction_detail_2],axis=0)

In [6]:
df_customer.head()

,customer_id,customer_name,registration_date,customer_name_kana,email,gender,age,birth,pref
0,IK152942,平田 裕次郎,2019-01-01 00:25:33,ひらた ゆうじろう,hirata_yuujirou@example.com,M,29,1990/6/10,石川県
1,TS808488,田村 詩織,2019-01-01 01:13:45,たむら しおり,tamura_shiori@example.com,F,33,1986/5/20,東京都
2,AS834628,久野 由樹,2019-01-01 02:00:14,ひさの ゆき,hisano_yuki@example.com,F,63,1956/1/2,茨城県
3,AS345469,鶴岡 薫,2019-01-01 04:48:22,つるおか かおる,tsuruoka_kaoru@example.com,M,74,1945/3/25,東京都
4,GD892565,大内 高史,2019-01-01 04:54:51,おおうち たかし,oouchi_takashi@example.com,M,54,1965/8/5,千葉県

In [7]:
df_item.head()

  item_id item_name  item_price
0    S001      PC-A       50000
1    S002      PC-B       85000
2    S003      PC-C      120000
3    S004      PC-D      180000
4    S005      PC-E      210000

In [8]:
df_transaction.head()

transaction_id    object
price              int64
payment_date      object
customer_id       object
dtype: object

In [9]:
df_transaction_detail.head()

   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1
1          1    T0000000114    S001         1
2          2    T0000000115    S003         1
3          3    T0000000116    S005         1
4          4    T0000000117    S002         2

In [36]:
join_data = pd.merge(df_transaction_detail,df_transaction[['transaction_id','payment_date','customer_id']],how='left',on='transaction_id')
join_data = join_data.merge(df_customer,how='left',on='customer_id')
join_data = join_data.merge(df_item,how='left',on='item_id')
join_data['payment_date'] = pd.to_datetime(join_data['payment_date'])
join_data['payment_month'] = join_data['payment_date'].dt.strftime('%Y%m')
join_data.dtypes

detail_id                      int64
transaction_id                object
item_id                       object
quantity                       int64
payment_date          datetime64[ns]
customer_id                   object
customer_name                 object
registration_date             object
customer_name_kana            object
email                         object
gender                        object
age                            int64
birth                         object
pref                          object
item_name                     object
item_price                     int64
payment_month                 object
dtype: object

In [30]:
join_data

detail_id              int64
transaction_id        object
item_id               object
quantity               int64
payment_date          object
customer_id           object
customer_name         object
registration_date     object
customer_name_kana    object
email                 object
gender                object
age                    int64
birth                 object
pref                  object
item_name             object
item_price             int64
dtype: object

In [28]:
join_data.groupby('payment_month').sum()

KeyError: 'payment_month'